<footer class="text-center text-lg-start text-white footer-color">
  <div class="container p-4 pb-0">
    <section class="">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">MONEY PLANT</h5>
          <p>About us</p>
          <p>Blog</p>
          <p>Help & Support</p>
          <p>Privacy Policy</p>
          <p>Terms & Conditions</p>
          <p>Disclaimer</p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">EXPLORE</h5>
          <p>Advisor</p>
          <p>Consulting Companies</p>
          <p>Learners Corner</p>
          <p>Top Investment</p>
          <p>Insurances</p>
          <p>Stock Investments</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">TOP COURSES</h5>
          <p>Financial Markets</p>
          <p>Master of Management</p>
          <p>Money Management</p>
          <p>Stock Markets</p>
          <p>Basics of Finance</p>
          <p>Tax Savings</p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">QUICK LINKS</h5>
          <p>Community Membership</p>
          <p>Frequently asked questions</p>
          <p>Help</p>
          <p>Articles</p>
          <p>Trending Now</p>
          <p>Glossary</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold">CONTACT US</h5>
          <p>
            <a href="mailto: msutkarsha@gmail.com" target="_blank"
              >msutkarsha@gmail.com</a
            >
          </p>
          <p>
            <a href="tel:+917021571792" target="_blank">+91 7021571792</a>
          </p>
          <section class="block-inline">
            <!-- Facebook -->
            <a class="btn" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <!-- Github -->
            <a class="btn" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>

            <!-- Instagram -->
            <a class="btn" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </section>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/"
      >Utkarsha Kshirsagar | All Rights Reverved</a
    >
  </div>
</footer>
