.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.btn-color {
  background-color: rgb(105, 177, 48);
  color: white;
}
.header-color {
  color: rgb(0, 50, 85);
}
.label-color {
  color: rgb(48, 130, 152);
}
.form-control {
  border-radius: 25px;
}
.btn {
  border-radius: 0;
}
