<app-navbar></app-navbar>
<form class="container my-5 w-50" [formGroup]="search" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <span class="input-group-text"
      ><fa-icon [icon]="faLocationDot"></fa-icon
    ></span>

    <!-- <input
      type="text"
      class="form-control"
      placeholder="location"
      aria-label="Username"
    /> -->

    <mat-select
      name="locations"
      class="form-control"
      formControlName="location"
      placeholder="Select a location"
    >
      <mat-option *ngFor="let location of locations" [value]="location">
        {{ location.city }},{{ location.state }}
      </mat-option>
    </mat-select>

    <span class="input-group-text"
      ><fa-icon [icon]="faMagnifyingGlass"></fa-icon
    ></span>
    <input
      type="text"
      class="form-control"
      placeholder="Specialization"
      aria-label="Server"
      formControlName="specialization"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
        {{ suggestion }}
      </mat-option>
    </mat-autocomplete>
    <!-- <button class="btn btn-outline-secondary" type="submit">Button</button> -->
    <button type="submit" class="btn btn-color">Submit</button>
  </div>
</form>

<app-expert-card [experts]="experts"></app-expert-card>
