<app-navbar></app-navbar>
<h1 class="text-center mt-5 mb-2">Find Expert</h1>
<form
  class="container mx-auto w-50"
  [formGroup]="search"
  (ngSubmit)="onSubmit()"
>
  <div class="input-group">
    <span class="input-group-text"
      ><fa-icon [icon]="faLocationDot"></fa-icon
    ></span>

    <mat-select
      name="locations"
      class="form-control"
      formControlName="location"
      placeholder="Select a location"
    >
      <mat-option *ngFor="let location of locations" [value]="location">
        {{ location.city }},{{ location.state }}
      </mat-option>
    </mat-select>
    <span class="input-group-text"
      ><fa-icon [icon]="faMagnifyingGlass"></fa-icon
    ></span>
    <input
      type="text"
      class="form-control"
      placeholder="Specialization"
      aria-label="Server"
      formControlName="specialization"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
        {{ suggestion }}
      </mat-option>
    </mat-autocomplete>
    <button type="submit" class="btn btn-color">Submit</button>
  </div>
</form>

<app-expert-card [experts]="experts" *ngIf="!loading"></app-expert-card>
<app-loading *ngIf="loading"></app-loading>
<app-footer *ngIf="!loading"></app-footer>
