<div
  class="container my-5 d-flex justify-content-center"
  *ngFor="let expert of experts"
>
  <mat-card class="w-75">
    <div class="container text-left">
      <div class="row align-items-start">
        <div class="col-md-4 text-center">
          <img
            [src]="expert.profilepic"
            alt="image"
            width="40%"
            height="40%"
            class="mt-2"
          /><br />
          <label class="block m-2 p-2 label-css">{{ expert.bio }}</label>
        </div>
        <div class="col-md-4">
          <mat-card-header>
            <mat-card-title>{{ expert.name }}</mat-card-title>
            <mat-card-subtitle>{{ expert.specialization }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Ratings</p>
            <p>
              <span class="text-primary text-sizing"
                >{{ expert.experience }}yrs of Experience</span
              ><br />
              <span class="text-muted"
                >Certification - {{ expert.university }}</span
              >
            </p>
          </mat-card-content>
        </div>
        <div class="col-md-4">
          <mat-card-content>
            <p>Fee : {{ expert.fee }}$ / hr</p>
            <br />
            <button
              (click)="connectNow(expert._id)"
              type="button"
              class="btn connect-now-btn"
            >
              Connect Now
            </button>
          </mat-card-content>
        </div>
      </div>
    </div>
  </mat-card>
</div>
